body {
    margin: 0;
    height: 100dvh;
    display: flex;
    background-color: rgb(246, 242, 169);    
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    ;

    100% {
        opacity: 1
    }

    ;
}

div {
    animation: fadeIn 0.4s;
}

button {
    background-color: rgb(77, 52, 45, 255);
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 900;
    text-align: center;
    height: fit-content;
    color: white;
    transition: 0.2s;
    transform: scale(1.01);
    margin: 10px;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:active {
    background-color: rgb(57, 38, 33);
    transition: 0.1s;
    transform: scale(1.06);
}

#sidebar {
    display: flex;
    flex: 0 0 15%;
    height: 100%;
    flex-direction: column;
    width: fit-content;
    background-image: linear-gradient(rgb(148, 102, 87), rgb(77, 52, 45), rgb(77, 52, 45), rgb(77, 52, 45), rgb(46, 31, 27));
}
.sidebar-divs{
background: linear-gradient(rgb(148, 102, 87), rgb(77, 52, 45), rgb(77, 52, 45), rgb(77, 52, 45), rgb(46, 31, 27));
padding:10px;
color:white;
font-weight: 900;
text-align: center;
border-radius: 1rem;
margin: 0.5rem 0.5rem;
}
.sidebar-divs:hover{
    background: linear-gradient(rgb(69, 47, 40), rgb(45, 30, 26), rgb(45, 30, 26), rgb(0, 0, 0), rgb(46, 31, 27));
    cursor: pointer;
    transform: scale(1.08);
}

#new-project-button {
    background-color: rgb(77, 52, 45, 255);
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 900;
    text-align: center;
    height: fit-content;
    color: white;
    transition: 0.2s;
    transform: scale(1.01);
    margin: 10px;
    font-size: 1.25rem;
}

#new-project-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#new-project-button:active {
    background-color: rgb(57, 38, 33);
}

#notebook-container {
    flex: 1 1 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content 1fr;
    overflow-y: scroll;
}

#notebook {
    background: repeating-linear-gradient(rgb(245, 242, 197), rgb(246, 242, 169) 31px, rgba(0, 0, 0, 0.461) 31px, rgba(0, 0, 0, 0.425) 32px);
    outline: 0;
    line-height: 32px;
    font-size: 22px;
    padding: 0px 10px;
}

header {
    background-image: linear-gradient(rgb(148, 102, 87), rgb(77, 52, 45), rgb(77, 52, 45), rgb(77, 52, 45), rgb(46, 31, 27));
    color: white;
    padding: 5px;
    font-weight: 900;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
}
header>:first-child{
    display: flex;
    position:absolute;
    right:0;
    bottom:-10%;
    background-color: rgb(112, 0, 0);
    font-size: large;
}


#dialog-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: block;
    font-weight: 900;
    text-align: center;
}

input,
textarea {
    display: block;
    pointer-events: all;
}

#submit {
    margin: 10px;
    display: flex;
    width: fit-content;
    justify-self: center;
    align-self: center;
    padding: 5px;
}

#priority-button-holder {
    display: flex;
    justify-content: space-between;
}

#priority {
    appearance: none;
    width: fit-content;
    margin: 0;
    align-self: center;
    justify-self: center;
    background-color: rgb(245, 242, 197);
    color: black;
}