body {
    margin: 0;
    height: 100dvh;
    display: flex;
}

button {
    background-color: rgb(77, 52, 45, 255);
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 900;
    text-align: center;
    height: fit-content;
    color: white;
    transition: 0.2s;
    transform: scale(1.01);
    margin: 10px;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
button:active{
    background-color: rgb(57, 38, 33);
    transition: 0.1s;
    transform: scale(1.06);
}

#sidebar {
    display: flex;
    height: 100%;
    width: fit-content;
    background-image: linear-gradient(rgb(148, 102, 87), rgb(77, 52, 45), rgb(77, 52, 45), rgb(77, 52, 45), rgb(46, 31, 27));
}

#new-project-button {
    background-color: rgb(77, 52, 45, 255);
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 900;
    text-align: center;
    height: fit-content;
    color: white;
    transition: 0.2s;
    transform: scale(1.01);
    margin: 10px;
}

#new-project-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#new-project-button:active {
    background-color: rgb(57, 38, 33);
}

#notebook-container {
    flex: 1 1 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content 1fr;
}

#notebook {
    background-image: linear-gradient(rgb(245, 242, 197), rgb(246, 242, 169));
}

#header {
    background-image: linear-gradient(rgb(148, 102, 87), rgb(77, 52, 45), rgb(77, 52, 45), rgb(77, 52, 45), rgb(46, 31, 27));
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}


#dialog-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    display: block;
    font-weight: 900;
    text-align: center;
}
input, textarea{
    display: block;
    pointer-events: all;
}

#submit {
    margin: 10px;
    display: flex;
    width: fit-content;
    justify-self: center;
    align-self: center;
    padding: 5px;
}
#priority-button-holder{
    display: flex;
    justify-content: space-between;
}
#priority{
    width:fit-content;
    margin: 0;
    align-self: center;
    justify-self: center;
    background-color: rgb(245, 242, 197);
    color: black;
}